<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title> {% if page.title %} {{ page.title }} | {% endif %} Another sight </title>
<link type = "text/css" rel="stylesheet" href="../css/default.css" media:"all"/>	
</head>

<body>
<div class="wrapper">
<h1 id="title">Another Sight - 4our</h1>
<nav role="navigation">
	<ul>
   <li><a href="../index.html"> [ 1ne ]</a></li>
    <li><a href="../2wo.html"> [ 2wo ]</a></li>
    <li><a href="../th3.html">[ th3 ] </a></li>
    <li><a href="../4our.html"> <b>[ 4our ]</b></a></li>
    </ul>
</nav>

<header class="pageFour"><br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> </header>

<nav id="bigPageFour">
	<ul>
    <li><a href="http://www.sitnie.com/" target="_blank">sit :</a></li> 
    <li><a href="http://phinekaphoto.500px.com/" target ="_blank">Phine Ka :</a></li> 
    <li><a href="http://www.eleven44designs.com/" target ="_blank">eleven 44 :</a></li> 
    <li><a href="http://www.signedandnumbered.com.au/" target ="_blank">signed &amp numbered :</a></li>
    <li><a href="http://www.bonbonboutique.nl/" target ="_blank">Bon Bon Boutique :</a></li> 
     <li><a href="http://www.tamwahmusic.com.au/" target ="_blank">Tamwah :</a></li> 
    <li><a href="http://www.bonbonboutique.nl/" target ="_blank">Bon Bon Boutique :</a></li> 
	</ul>
</nav>


 <article class="onePost">
 {{ content }}
 </article>
 
 <aside class="bannerPageFour">
 <p class="titleAsidePageFour"> Another Sight &hearts;</p>
  <!--loving earth-->
 <p class="bannerDescription">Loving Earth chocolate is not cheap but you can eat it with less guilt than dairy containing chocolate and just as delicious.</p>
 <div id="chocolate"><a href="https://lovingearth.net/"><img src="../images/posts/Banners/lovingEarth250.jpg"/></a></div>
 </aside>
 
{% include footer.html %}
</div>	

</body>



</html>
